@import 'normalize.css';
* {
    font-family: 'Rubik', sans-serif;
    color: #393c41;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: #171a20;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}

button {
    border: none;
}

a {
    text-decoration: none;
}
