/* Mixin */
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    background-color: transparent;
    min-height: 56px;
    z-index: 1;

    @include mobile {
        padding: 0 8px;
    }
}

.logo {
    width: 152px;
    padding: 0 16px;
    height: 32px;

    @include mobile {
        padding: 0px;
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    @include mobile {
        display: none;
    }

    @include tablet {
        display: none;
    }
    a {
        padding: 8px 8px;
        transition: background-color 0.3s linear;

        &:hover {
            background-color: rgba($color: #a0a2a2, $alpha: 0.25);
            border-radius: 2px;
        }

        span {
            padding: 0 10px;
            flex-wrap: nowrap;
            color: var(--primary-font);
            font-size: 15px;
            font-weight: 500;
        }
    }
}

.right-menu {
    font-weight: 500;
    margin-left: auto;

    a {
        @include mobile {
            display: none;
        }

        padding: 4px 8px;
        font-size: 15px;
        transition: background-color 0.3s linear;

        &:hover {
            background-color: rgba($color: #a0a2a2, $alpha: 0.3);
            border-radius: 2px;
        }

        span {
            padding: 0 8px;
        }
    }

    button {
        padding: 4px 8px;
        font-size: 15px;
        flex-wrap: nowrap;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-color: rgba($color: #a0a2a2, $alpha: 0.3);
            border-radius: 2px;
        }

        span {
            padding: 0 8px;
        }
    }
}
